<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.strind.wemedia.mapper.WmChannelMapper">


    <select id="selectOnlyName" resultType="java.lang.String">
        select name
        from wm_channel
        where id = #{channelId}
    </select>
    <select id="findChannels" resultType="java.lang.String">
        select name
        from wm_channel
    </select>
</mapper>